/* Reset code*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* Mobile size*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.mainnav {
    margin:auto;
    width:auto;
    background-color:#222;
    border: 13px solid #222;
    align-items: center;    
    text-align: center;
    font-weight: 500;
    list-style: none;
}

.logo {
    background-color: #c78c06;
    text-align:left;
}

.mainnav a {
    width:100%;
    color:#c78c06;
    text-decoration:none;
    line-height: 65px;
    font-size: 17px;
    list-style: none;
}

/*when mouse hovers over navbar, different block colour*/
.mainnav a:hover {
    display:block;
    color:#222;
    background-color: #c78c06;
}

#searchbar {
    width: 90%;
    margin: auto;
    height: 35px;
    font-size: 16px;
    
}

/*button size added on html style="font-size:21px;"*/
.search-button {
    background-color:#222;
    color: #c78c06;
    height: 43px;
    width: 43px;
    border-color: #c78c06;
}


/*Styling header container*/
.banner {
    width: auto;
}

.main-banner {
    width: 100%;
}

.header-container {
    background-color:#222;
    width: 100%;
    height: 420px;
    position: absolute;
    top: 81%;
    opacity:87%;
}

#welcome {
    width: 100%;
    font-size: 54pt;
    margin-left: 20px;
    margin-top: 45px;
    font-weight: 700;
    color: white;
}

#para-header {
    color: white;
    font-size: 11pt;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 10px;
}

.connect-button {
    background-color: #c78c06;
    border: none;
    font-size: 15pt;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 13px;
    padding: 27px;
}


/*Styling about us section*/

#about-section {
    width: auto;
    background-color:#ffe6ac;
    height: 650px;
}

.about-image {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.about-us h1 {
    font-size: 33pt;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 20px;
}

.about-us p {
    font-size: 11pt;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}


/*Styling services section*/

.our-services h1 {
    font-size: 33pt;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 30px;
}

/*card1 Digital Transformation*/

.card1 img {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.card1-content {
    background-color: #ffe6ac;
    margin-left: 20px;
    margin-right: 18px;
    height: 250px;
}

.card1-content h2 {
    font-size: 23pt;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 20px;
}

.card1-content p {
    font-size: 10pt;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.button1 {
    background-color: #222;
    color: white;
    border: none;
    font-size: 15pt;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 13px;
    padding: 27px;
}


/*card2 Marketing*/

.card2 img {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.card2-content {
    background-color: #ffe6ac;
    margin-left: 20px;
    margin-right: 18px;
    height: 250px;
}

.card2-content h2 {
    font-size: 23pt;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 20px;
}

.card2-content p {
    font-size: 10pt;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.button2 {
    background-color: #222;
    color: white;
    border: none;
    font-size: 15pt;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 13px;
    padding: 27px;
}


/*card3 Video Production*/

.card3 img {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.card3-content {
    background-color: #ffe6ac;
    margin-left: 20px;
    margin-right: 18px;
    height: 250px;
}

.card3-content h2 {
    font-size: 23pt;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 20px;
}

.card3-content p {
    font-size: 10pt;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.button3 {
    background-color: #222;
    color: white;
    border: none;
    font-size: 15pt;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 13px;
    padding: 27px;
}


/*card4 Web Development*/

.card4 img {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.card4-content {
    background-color: #ffe6ac;
    margin-left: 20px;
    margin-right: 18px;
    height: 250px;
}

.card4-content h2 {
    font-size: 23pt;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 20px;
}

.card4-content p {
    font-size: 10pt;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.button4 {
    background-color: #222;
    color: white;
    border: none;
    font-size: 15pt;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 13px;
    padding: 27px;
}


/*card5 Print*/

.card5 img {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.card5-content {
    background-color: #ffe6ac;
    margin-left: 20px;
    margin-right: 18px;
    height: 250px;
}

.card5-content h2 {
    font-size: 23pt;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 20px;
}

.card5-content p {
    font-size: 10pt;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.button5 {
    background-color: #222;
    color: white;
    border: none;
    font-size: 15pt;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 13px;
    padding: 27px;
}









/* Website media queries for screen size of 760px and above*/

@media screen and (min-width:760px) {

    .mainnav {
        margin:auto;
        width: 100%;
        background-color:#222;
        font-weight: 400;
        list-style: none;
        max-height: 143px;
        display: inline-block;
    }

    .logo {
        background-color:#222;
        text-align:left;
        margin:auto;
        width: 1200px;
    }

    .mainnav li {
        width:1200px;
        color:#c78c06;
        text-decoration:none;
        list-style: none;
        display: inline;
    }
    
    .home, .about, .services, .team, .contact {
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #222;
        width:auto;
        font-weight: 400;
    }


    /*when mouse hovers over navbar, different block colour*/
    .mainnav li:hover {
        color:#222;
        background-color: #c78c06;
        padding-left: 2rem;
        padding-right: 2rem;
        display: inline;
        width: auto;
    }

    #searchbar {
        width: 150px;
        font-size: 16px;
    }


    /*Styling .banner and .header-container*/
    .banner {
        width: auto; 
    }

    .main-banner {
        width: 100%;
        height: 820px;
    }
  
    
    /*Styling header container*/
    .banner {
        width: auto;
    }

    .main-banner {
        width: 100%;
        height: 640px;
    }

    .header-container {
        background-color:#222;
        width: 1220px;
        height: 528px;
        position: absolute;
        top: 31%;
        opacity:87%;
        left: 153px;
    }

    #welcome {
        width: 1200px;
        font-size: 63pt;
        margin-top: 70px;
        font-weight: 700;
        color: white;
    }
    
    #para-header {
        color: white;
        font-size: 14pt;
        margin-top: 25px;
    }
    
    .connect-button {
        background-color: #c78c06;
        border: none;
        font-size: 16pt;
        font-weight: 500;
        margin-top: 25px;
        padding: 40px;
    }


    /*Styling about us section*/

    #about-section {
        width:100%;
        background-color:#ffe6ac;
        margin: auto;
        height: 400px;
    }

   

    .about-image {
        width: 500px;
        float: left;
        margin: auto;
        margin-left: 170px;
        margin-top: 15px;
        
    }


}
